<!DOCTYPE html>
<html>
  <head>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/gh/mdehoog/Semantic-UI@6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" %>

    <title>PetRegistry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
